@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
--Font-name: 18px;
}

body{
    background-color: var(--Dark-cyan);
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
    position: relative;
    margin: 160px 30px 30px 30px;
    z-index: 10;
}

.rounded-img{
    position:absolute;
}

.img-top{
    right: 48%;
    bottom: 55%;
}

.img-bottom{
    left: 48%;
    top: 55%;
}

.card__main{
    background-color: #fff;
    border-radius: 0 0 7% 7%;
}

.card__main img{
    border-radius: 50%;
    border: 4px solid #fff;
    position: relative;
    margin-top: -50px;
}

.card-container{
    text-align: center;
}

.card__header{
    background-image: url("/images/bg-pattern-card.svg");
    width: 350px;
    height: 140px;
    border-radius: 7% 7% 0 0;
}

.main__person-info{
    padding: 20px;
}

.main__person-info h2{
    display: inline-block;
    padding: 0px 5px 9px 0;
    font-size: var(--Font-name);
    color: var(--Very-dark-desaturated-blue);
}

.main__person-info span{
    color: var(--Dark-grayish-blue);
    font-size: var(--Font-name);
}

.main__person-info small{
    display: block;
    margin-bottom: 22px;
    color: var(--Dark-grayish-blue);
}

.card__footer{
    border-top: 1px solid var(--Dark-gray);
}

.card__footer h4{
    font-size: var(--Font-name);
    color: var(--Very-dark-desaturated-blue);
}

.card__footer small{
    color: var(--Dark-grayish-blue);
}

.footer__followers, .footer__likes, .footer__photos{
    display: inline-block;
    margin: 22px 28px 22px 28px;
}

@media screen and (max-width:600px) {
    .img-top{
        right: 48%;
        bottom: 44%;
    }
    
    .img-bottom{
        left: 44%;
        top: 48%;
    }
}